*{
    margin: 0;
    padding: 0;
    text-align: center; 
}
.main{
    background-color: rgb(249, 171, 171);
    width: 100%;
    height: 89vh;
}
.header{
    background-color: rgb(37, 37, 37);
    color: rgb(205, 242, 132);
    height: 5rem;
    line-height: 5rem;
}
.choice{
    background-color: rgb(149, 149, 244);
    margin-top: 10px;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    background-color: rgb(50, 47, 47);
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: inline-flex;
    gap: 5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.scorebord{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
#user_score,
#comp_score{
    font-size: 4rem;
}
.container{
    margin-top: 5rem;
}
#msg{
    margin-top: 5rem;
    background-color:black ;
    color:white;
    font-size: 2rem;
    display: inline;
    border-radius:1rem;
    padding: 1rem;
}
